@model Core.ReportModel.DeliveryVarianceViewModel;
@{
    ViewData["Title"] = "Banking Variance";
    var Ledger = new DeliveryVariance();

    DateTime dt = new DateTime(DateTime.Now.Year, 1, 1);

    int month = DateTime.Now.Month - 1;
    var months = new List<SelectListItem>();
    for (int ix = 0; ix < 12; ix++) {
        months.Add(new SelectListItem {
            Value = ix.ToString(),
            Text = dt.AddMonths(ix).ToString("MMMM")
        });
    }
}

<script>var route = '/reports/delivery/variance/';</script>
<script src="~/js/reports-index-script.js"></script>

<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row zero-margin">
            <div class="col s10 m6 l6">
                <ol class="breadcrumbs">
                    <li><a href="/reports">Reports</a></li>
                    <li><a href="">Banking</a></li>
                    <li><a href="">Variance</a></li>
                    <li class="active">@Model.Date.ToString("MMMM yyyy")</li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <div class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right gradient-45deg-light-blue-cyan gradient-shadow pointer modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/banking/variance/">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">CHANGE</span>
                    <i class="material-icons right">arrow_drop_down</i>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both; margin-top:55px;"></div>

<div class="card zero-margin">
    <div class="card-content deep-orange accent-2 white-text table-card" style="border-radius: 0">
        <h5 class="card-stats-number"><i class="material-icons left">money_off</i> Banking Variances</h5>
        <p class="card-stats-compare right">
            <i class="material-icons left">local_gas_station</i>
            <span class="deep-orange-text text-lighten-5 opening-balance">@Model.Station.Name</span>
        </p>
    </div>

    <table id="ledger-table" class="custom bordered" data-loaded="0" style="margin-top:-20px">
        <thead class="deep-orange accent-2">
            <tr>
                <th rowspan="2" class="bottom-text">DATE</th>
                <th rowspan="2" class="bottom-text">TYPE</th>
                <th rowspan="2" class="bottom-text">DELV</th>
                <th rowspan="2" class="bottom-text">STATION</th>
                <th colspan="2" class="center-text">LUBES BANKING</th>
                <th colspan="2" class="center-text">SODA BANKING</th>
                <th colspan="2" class="center-text">GAS BANKING</th>
                <th colspan="3" class="center-text">BANKING VARIANCES</th>
            </tr>
            <tr>
                <th class="center-text">CORE</th>
                <th class="center-text">STATION</th>
                <th class="center-text">CORE</th>
                <th class="center-text">STATION</th>
                <th class="center-text">CORE</th>
                <th class="center-text">STATION</th>
                <th class="center-text">LUBES</th>
                <th class="center-text">SODA</th>
                <th class="center-text">GAS</th>
            </tr>
        </thead>
        <tbody style="font-size:0.7em">
            @foreach (var ldg in Model.Ledger)
            {
                Ledger.Delivery.Amount += ldg.Delivery.Amount;
                Ledger.Variance.Amount += ldg.Variance.Amount;
                Ledger.Delivery.Expense += ldg.Delivery.Expense;
                Ledger.Variance.Expense += ldg.Variance.Expense;
                Ledger.Delivery.Banking += ldg.Delivery.Banking;
                Ledger.Variance.Banking += ldg.Variance.Banking;

                <tr class="@(ldg.HasVariance ? "bold-text" : "")">
                    <td>@ldg.Delivery.Date.ToString("ddMMM").ToUpper()</td>
                    <td>COMBINED DELIVERY</td>
                    <td>@ldg.Delivery.Receipt</td>
                    <td>@ldg.Delivery.Station.Name.ToUpper()</td>
                    <td class="center-text">@string.Format("{0:N}", ldg.Delivery.Amount)</td>
                    <td class="center-text">@string.Format("{0:N}", ldg.Variance.Amount)</td>
                    <td class="center-text">@string.Format("{0:N}", ldg.Delivery.Expense)</td>
                    <td class="center-text">@string.Format("{0:N}", ldg.Variance.Expense)</td>
                    <td class="center-text">@string.Format("{0:N}", ldg.Delivery.Banking)</td>
                    <td class="center-text">@string.Format("{0:N}", ldg.Variance.Banking)</td>
                    <td class="center-text red-text">@((ldg.Delivery.Amount - ldg.Variance.Amount).ToString("#,#00.00;(#,#00.00);—"))</td>
                    <td class="center-text red-text">@((ldg.Delivery.Expense - ldg.Variance.Expense).ToString("#,#00.00;(#,#00.00);—"))</td>
                    <td class="center-text red-text">@((ldg.Delivery.Banking - ldg.Variance.Banking).ToString("#,#00.00;(#,#00.00);—"))</td>
                </tr>
            }

            @if (Model.Ledger.Count.Equals(0)) {
                <tr>
                    <td colspan="13" class="center-text">NO ENTRIES FOUND</td>
                </tr>
            }
        </tbody>

        <tfoot class="deep-orange accent-2 white-text" style="font-size:0.8em">
            <tr>
                <th colspan="4">&nbsp;</th>
                <th class="center-text">@string.Format("{0:N}", Ledger.Delivery.Amount)</th>
                <th class="center-text">@string.Format("{0:N}", Ledger.Variance.Amount)</th>
                <th class="center-text">@string.Format("{0:N}", Ledger.Delivery.Expense)</th>
                <th class="center-text">@string.Format("{0:N}", Ledger.Variance.Expense)</th>
                <th class="center-text">@string.Format("{0:N}", Ledger.Delivery.Banking)</th>
                <th class="center-text">@string.Format("{0:N}", Ledger.Variance.Banking)</th>
                <th class="center-text">@((Ledger.Delivery.Amount - Ledger.Variance.Amount).ToString("#,#00.00;(#,#00.00);—"))</th>
                <th class="center-text">@((Ledger.Delivery.Expense - Ledger.Variance.Expense).ToString("#,#00.00;(#,#00.00);—"))</th>
                <th class="center-text">@((Ledger.Delivery.Banking - Ledger.Variance.Banking).ToString("#,#00.00;(#,#00.00);—"))</th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="modal32" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Report Details</h4>
        <p>Specify the below Parameters to generate the Report</p>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.Station.Code, Model.Codes, "All Stations", new { @class = "modal-station" })
                <label>Select Station</label>
            </div>

            <div class="input-field col s12 m7">
                <i class="material-icons prefix">class</i>
                @Html.DropDownListFor(model => month, months, new { @class = "modal-months" })
                <label>Select Station</label>
            </div>

            <div class="input-field col s12 m5">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Specify Year</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>