@model Core.ViewModel.ReportsCustomerYearlyViewModel;

@{
    ViewData["Title"] = "Customer Summary";

    double Open = 0;
    double Jan = 0;
    double Feb = 0;
    double Mar = 0;
    double Apr = 0;
    double May = 0;
    double Jun = 0;
    double Jul = 0;
    double Aug = 0;
    double Sep = 0;
    double Oct = 0;
    double Nov = 0;
    double Dec = 0;
    double Close = 0;
    
    string format = "#,##0.00;(#,##0.00)";
}

<style>
    table thead th,
    table tbody td,
    table tfoot th {
        text-align: right;
    }
    table thead th:first-child, 
    table tbody td:first-child, 
    table tfoot th:first-child {
        text-align: left;
    }
</style>

<script>var route = '';</script>
<script src="~/js/reports-index-script.js"></script>

<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row zero-margin">
            <div class="col s10 m6 l6">
                <ol class="breadcrumbs">
                    <li><a href="/reports">Reports</a></li>
                    <li><a href="/core/customers/">Customers</a></li>
                    <li><a href="">Summary</a></li>
                    <li><a href="">@Model.type</a></li>
                    <li class="active">@Model.year</li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right gradient-45deg-light-blue-cyan gradient-shadow pointer modal-trigger" data-target="modal21">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">CHANGE</span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div style="clear:both; margin-top:55px;"></div>

<div class="col-md-12 zero-margin">
    <div class="card zero-margin">
        <div class="card-content deep-orange accent-2 white-text table-card" style="border-radius:0">
            <h5 class="card-stats-number"><i class="material-icons left">supervisor_account</i> Yearly Summary</h5>
            <p class="card-stats-compare right">
                <i class="material-icons left">play_for_work</i> @Model.year
                <span class="deep-orange-text text-lighten-5">&mdash; @Model.station.Name</span>
            </p>
        </div>

        <table id="reading" class="custom bordered" style="font-size:0.7em;">
            <thead class="deep-orange accent-2">
                <tr>
                    <th>CUSTOMER</th>
                    <th>OP/BAL</th>
                    <th>JAN</th>
                    <th>FEB</th>
                    <th>MAR</th>
                    <th>APR</th>
                    <th>MAY</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AUG</th>
                    <th>SEP</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEC</th>
                    <th>BAL/CF</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var rpt in Model.report)
                {
                    <tr>
                        <td>@rpt.Customer.Name</td>
                        <td class="bold-text">@string.Format("{0:N}", @rpt.Opening.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Jan.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Feb.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Mar.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Apr.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.May.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Jun.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Jul.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Aug.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Sep.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Oct.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Nov.ToString(format))</td>
                        <td>@string.Format("{0:N}", rpt.Dec.ToString(format))</td>
                        <td class="bold-text">@string.Format("{0:N}", rpt.Closing.ToString(format))</td>
                    </tr>

                    Open += rpt.Opening;
                    Jan += rpt.Jan;
                    Feb += rpt.Feb;
                    Mar += rpt.Mar;
                    Apr += rpt.Apr;
                    May += rpt.May;
                    Jun += rpt.Jun;
                    Jul += rpt.Jul;
                    Aug += rpt.Aug;
                    Sep += rpt.Sep;
                    Oct += rpt.Oct;
                    Nov += rpt.Nov;
                    Dec += rpt.Dec;
                    Close += rpt.Closing;
                }
            </tbody>

            <tfoot class="deep-orange accent-2 white-text">
                <tr>
                    <th>SUMMARY</th>
                    <th>@string.Format("{0:N}", Open.ToString(format))</th>
                    <th>@string.Format("{0:N}", Jan.ToString(format))</th>
                    <th>@string.Format("{0:N}", Feb.ToString(format))</th>
                    <th>@string.Format("{0:N}", Mar.ToString(format))</th>
                    <th>@string.Format("{0:N}", Apr.ToString(format))</th>
                    <th>@string.Format("{0:N}", May.ToString(format))</th>
                    <th>@string.Format("{0:N}", Jun.ToString(format))</th>
                    <th>@string.Format("{0:N}", Jul.ToString(format))</th>
                    <th>@string.Format("{0:N}", Aug.ToString(format))</th>
                    <th>@string.Format("{0:N}", Sep.ToString(format))</th>
                    <th>@string.Format("{0:N}", Oct.ToString(format))</th>
                    <th>@string.Format("{0:N}", Nov.ToString(format))</th>
                    <th>@string.Format("{0:N}", Dec.ToString(format))</th>
                    <th>@string.Format("{0:N}", Close.ToString(format))</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="clear both"></div>

<!--Column 2 Modals-->
<div id="modal21" class="modal modal-fixed-footer" style="width:500px">
    <div class="modal-content">
        <h4>Customer Balances</h4>
        <p>Specify the below Parameters to generate the Summary</p>
        <div>
            <div class="input-field">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.station.Code, Model.Codes, new { @class = "modal-station" })
                <label>Select Station</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Specify Year</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">local_gas_station</i>
                <select class="modal-types">
                    <option value="all">All Transactions</option>
                    <option value="invoices">Sales/Invoices</option>
                    <option value="payments">Customer Payments</option>
                    <option value="credits">Credit Memo</option>
                    <option value="whts">Withholding Tax</option>
                </select>
                <label>Transaction Type</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>