@model Core.ViewModel.ReportsCustomerYearlyViewModel;

@{
    ViewData["Title"] = "Customer Summary";

    double Open = 0;
    double Jan = 0;
    double Feb = 0;
    double Mar = 0;
    double Apr = 0;
    double May = 0;
    double Jun = 0;
    double Jul = 0;
    double Aug = 0;
    double Sep = 0;
    double Oct = 0;
    double Nov = 0;
    double Dec = 0;
    double Close = 0;
}

<style>
    table tbody td,
    table tfoot td {
        font-size: 0.7em;
        text-align: center;
    }
    table tbody td:first-child, 
    table tfoot td:first-child {
        font-size: 0.8em;
        font-weight: 400;
        text-align: left;
        padding-left: 20px;
    }

</style>

<h5><i class="material-icons left">home</i> > Reports > Customer Summary</h5>

<div class="col-md-12 zero-margin">
    <div class="card zero-margin">
        <div class="card-content deep-orange accent-2 white-text table-card" style="border-radius:0">
            <h5 class="card-stats-number"><i class="material-icons left">supervisor_account</i>Yearly Summary</h5>
            <p class="card-stats-compare right">
                <i class="material-icons left">play_for_work</i> @Model.year
                <span class="deep-orange-text text-lighten-5">&mdash; @Model.station.Name</span>
            </p>
        </div>

        <table id="reading" class="custom bordered">
            <thead class="deep-orange accent-2">
                <tr>
                    <th>CUSTOMER</th>
                    <th>OP/BAL</th>
                    <th>JAN</th>
                    <th>FEB</th>
                    <th>MAR</th>
                    <th>APR</th>
                    <th>MAY</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AUG</th>
                    <th>SEP</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEC</th>
                    <th>BAL/CF</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var rpt in Model.report)
                {
                    <tr>
                        <td>@rpt.Customer.Name</td>
                        <td class="bold-text">@string.Format("{0:N}", rpt.Opening)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May + rpt.Jun)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May + rpt.Jun + rpt.Jul)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May + rpt.Jun + rpt.Jul + rpt.Aug)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May + rpt.Jun + rpt.Jul + rpt.Aug + rpt.Sep)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May + rpt.Jun + rpt.Jul + rpt.Aug + rpt.Sep + rpt.Oct)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May + rpt.Jun + rpt.Jul + rpt.Aug + rpt.Sep + rpt.Oct + rpt.Nov)</td>
                        <td>@string.Format("{0:N}", rpt.Opening + rpt.Jan + rpt.Feb + rpt.Mar + rpt.Apr + rpt.May + rpt.Jun + rpt.Jul + rpt.Aug + rpt.Sep + rpt.Oct + rpt.Nov + rpt.Dec)</td>
                        <td class="bold-text">@string.Format("{0:N}", rpt.Closing)</td>
                    </tr>

                    Open += rpt.Opening;
                    Jan += rpt.Jan;
                    Feb += rpt.Feb;
                    Mar += rpt.Mar;
                    Apr += rpt.Apr;
                    May += rpt.May;
                    Jun += rpt.Jun;
                    Jul += rpt.Jul;
                    Aug += rpt.Aug;
                    Sep += rpt.Sep;
                    Oct += rpt.Oct;
                    Nov += rpt.Nov;
                    Dec += rpt.Dec;
                    Close += rpt.Closing;
                }
            </tbody>

            <tfoot class="deep-orange accent-2">
                <tr>
                    <td>@Model.station.Name.ToUpper() SUMMARY</td>
                    <td>@string.Format("{0:N}", Open)</td>
                    <td>@string.Format("{0:N}", Jan)</td>
                    <td>@string.Format("{0:N}", Feb)</td>
                    <td>@string.Format("{0:N}", Mar)</td>
                    <td>@string.Format("{0:N}", Apr)</td>
                    <td>@string.Format("{0:N}", May)</td>
                    <td>@string.Format("{0:N}", Jun)</td>
                    <td>@string.Format("{0:N}", Jul)</td>
                    <td>@string.Format("{0:N}", Aug)</td>
                    <td>@string.Format("{0:N}", Sep)</td>
                    <td>@string.Format("{0:N}", Oct)</td>
                    <td>@string.Format("{0:N}", Nov)</td>
                    <td>@string.Format("{0:N}", Dec)</td>
                    <td>@string.Format("{0:N}", Close)</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="clear both"></div>
