@model Core.ViewModel.ReportIndexViewModel;

@{
    ViewData["Title"] = "Reports";
    int month = DateTime.Now.Month - 1;
    var months = new List<SelectListItem>();
    for (int ix = 0; ix < 12; ix++)
    {
        months.Add(new SelectListItem
        {
            Value = ix.ToString(),
            Text = Model.StartDate.AddMonths(ix).ToString("MMMM")
        });
    }
}

<style>
    ul.report-icons li {
        margin-top: 20px
    }

        ul.report-icons li:first-child {
            margin-top: 0px
        }

        ul.report-icons li div {
            cursor: pointer;
            text-align: center
        }

        ul.report-icons li p {
            font-weight: 500;
            line-height: 1em
        }

    .modal h4 {
        border-bottom: 3px solid #ff5722;
        margin-bottom: 10px;
        padding-bottom: 10px
    }

    .modal p {
        margin-bottom: 30px
    }

    .modal .select-dropdown li img {
        height: 34px;
        width: 34px
    }

    .input-field .material-icons.prefix {
        padding-top: 10px
    }

    i.medium {
        font-size: 3.1rem
    }
</style>

<script>var route = '';</script>
<script src="~/js/reports-index-script.js"></script>

<h4>System Reports</h4>

<div class="row">
    <!--Column 1-->
    <div class="col-md-1 col-1">
        <ul class="report-icons">
            <li class="cyan-text">
                <div>
                    <i class="material-icons medium icon-demo">shopping_cart</i>
                    <p>Product Sales</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 2-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="indigo-text">
                <div class="waves-effect waves-light modal-trigger" data-target="modal21">
                    <i class="material-icons medium icon-demo">streetview</i>
                    <p>Yearly Balances</p>
                </div>
            </li>

            <li class="indigo-text">
                <div class="waves-effect waves-light modal-trigger" data-target="modal22">
                    <i class="material-icons medium icon-demo">supervisor_account</i>
                    <p>Customer Balances</p>
                </div>
            </li>

        </ul>
    </div>

    <!--Column 3-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger" data-target="modal31">
                    <i class="material-icons medium icon-demo">art_track</i>
                    <p>VAT Report</p>
                </div>
            </li>

            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/vat/">
                    <i class="material-icons medium icon-demo">burst_mode</i>
                    <p>Station Breakdown</p>
                </div>
            </li>

            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/stations/summary/">
                    <i class="material-icons medium icon-demo">assignment</i>
                    <p>Station Summary</p>
                </div>
            </li>

            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/etr/">
                    <i class="material-icons medium icon-demo">receipt</i>
                    <p>E.T.R Sheet</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 4-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="deep-orange-text">
                <div class="waves-effect waves-light redirect-trigger" data-route="/purchases/ledger">
                    <i class="material-icons medium icon-demo">burst_mode</i>
                    <p>Purchase Ledger</p>
                </div>
            </li>

            <li class="deep-orange-text">
                <div class="waves-effect waves-light redirect-trigger" data-route="/purchases/ledger/summary">
                    <i class="material-icons medium icon-demo">art_track</i>
                    <p>Purchase Summary</p>
                </div>
            </li>

            <li class="deep-orange-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/purchases/variance/">
                    <i class="material-icons medium icon-demo">swap_horiz</i>
                    <p>Purchase Variance</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 5-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="light-blue-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal31" data-trigger="/reports/vat/downloads">
                    <i class="material-icons medium icon-demo">burst_mode</i>
                    <p>Download CSVs</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 6-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="light-blue-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal61" data-trigger="/reports/stocks/">
                    <i class="material-icons medium icon-demo">shopping_basket</i>
                    <p>Monthly Stock</p>
                </div>
            </li>

            <li class="light-blue-text">
                <div class="waves-effect waves-light redirect-trigger" data-route="/reports/stocks/ledger">
                    <i class="material-icons medium icon-demo">playlist_play</i>
                    <p>Stock Ledger</p>
                </div>
            </li>

            <li class="light-blue-text">
                <div class="waves-effect waves-light redirect-trigger" data-route="/reports/stocks/unlinked">
                    <i class="material-icons medium icon-demo">phonelink_off</i>
                    <p>Unlinked Lubes</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 7-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="light-blue-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal31" data-trigger="/reports/stock/transfers">
                    <i class="material-icons medium icon-demo">keyboard_tab</i>
                    <p>Transfered Stock</p>
                </div>
            </li>

            <li class="light-blue-text">
                <div class="waves-effect waves-light modal-trigger redirect-trigger" data-route="/sales/transfers/ledger">
                    <i class="material-icons medium icon-demo">swap_horiz</i>
                    <p>Transfers Ledger</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 8-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="cyan-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/fuel/">
                    <i class="material-icons medium icon-demo">local_gas_station</i>
                    <p>Monthly Fuel</p>
                </div>
            </li>

            <li class="cyan-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/wetstock/detailed/">
                    <i class="material-icons medium icon-demo">devices_other</i>
                    <p>Wetstock Report</p>
                </div>
            </li>

            <li class="cyan-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/wetstock/summary/">
                    <i class="material-icons medium icon-demo">devices</i>
                    <p>Wetstock Monthly</p>
                </div>
            </li>

            <li class="cyan-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal81" data-trigger="/reports/wetstock/summary/">
                    <i class="material-icons medium icon-demo">devices</i>
                    <p>Wetstock Summary</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 9-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="cyan-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal31" data-trigger="/core/suppliers/payments/ledger">
                    <i class="material-icons medium icon-demo">attachment</i>
                    <p>Payment Ledger</p>
                </div>
            </li>

            <li class="cyan-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal31" data-trigger="/core/suppliers/payments/schedule">
                    <i class="material-icons medium icon-demo">restore</i>
                    <p>Payment Schedule</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--Column 1 Modals-->
<div id="modal11" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Sales Per Product</h4>
        <p>Specify the below Parameters to generate the Summary</p>
        <div>
            <div class="input-field">
                <i class="material-icons prefix">mode_edit</i>

                <label>Start Date</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">mode_edit</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>End Date</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>


<!--Column 2 Modals-->
<div id="modal21" class="modal modal-fixed-footer" style="width:500px">
    <div class="modal-content">
        <h4>Customer Balances</h4>
        <p>Specify the below Parameters to generate the Summary</p>
        <div>
            <div class="input-field">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.Station.Code, Model.StationCodes, new { @class = "modal-station" })
                <label>Select Station</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Specify Year</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">local_gas_station</i>
                <select class="modal-types">
                    <option value="all">All Transactions</option>
                    <option value="invoices">Sales / Invoices</option>
                    <option value="payments">Customer Payments</option>
                    <option value="creditnote">Credit Memo</option>
                </select>
                <label>Transaction Type</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<div id="modal22" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Customer Balances</h4>
        <p>Specify the below Parameters to generate the Summary</p>
        <div>
            <div class="input-field">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.Station.Code, Model.StationCodes, new { @class = "modal-station" })
                <label>Select Station</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Specify Year</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<!--Column 3 Modals-->
<div id="modal31" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>View Report</h4>
        <p>Specify the below Parameters to generate the Summary </p>
        <div>
            <div class="input-field">
                <i class="material-icons prefix">class</i>
                @Html.DropDownListFor(model => month, months, new { @class = "modal-months" })
                <label>Select Station</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Specify Year</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<div id="modal32" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Report Details</h4>
        <p>Specify the below Parameters to generate the Report</p>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.Station.Code, Model.StationCodes, new { @class = "modal-station" })
                <label>Select Station</label>
            </div>

            <div class="input-field col s12 m7">
                <i class="material-icons prefix">class</i>
                @Html.DropDownListFor(model => month, months, new { @class = "modal-months" })
                <label>Select Station</label>
            </div>

            <div class="input-field col s12 m5">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Specify Year</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<!--Column 6 Modals-->
<div id="modal61" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Stock Report</h4>
        <p>Specify the below Parameters to generate Stock Report</p>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.Station.Code, Model.StationCodes, new { @class = "modal-station" })
                <label>Select Station</label>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">playlist_add_check</i>
                <select class="modal-catg">
                    <option value="lubes">Lubes</option>
                    <option value="gas">Gas</option>
                    <option value="soda">Soda</option>
                </select>
                <label>Category</label>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">playlist_add_check</i>
                <select class="modal-type">
                    <option value="quantity">By Quantity</option>
                    <option value="amount">By Amount</option>
                </select>
                <label>Report Type</label>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">date_range</i>
                @Html.DropDownListFor(model => month, months, new { @class = "modal-months" })
                <label>Select Station</label>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Specify Year</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<!--Column 7 Modals-->
<div id="modal71" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Stock Report</h4>
        <p>Specify the below Parameters to generate Stock Report</p>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.Station.Code, Model.StationCodes, new { @class = "modal-station" })
                <label>Select Station</label>
            </div>


            <div class="input-field col m7 s12">
                <i class="material-icons prefix">date_range</i>
                @Html.DropDownListFor(model => month, months, new { @class = "modal-months" })
                <label>Month</label>
            </div>

            <div class="input-field col m5 s12">
                <i class="material-icons prefix">event_note</i>
                <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                <label>Year</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">playlist_add_check</i>
                <select class="modal-type">
                    <option value="quantity">By Litres</option>
                    <option value="amount">By Amount</option>
                </select>
                <label>Report Type</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<!--Column 8 Modals-->
<div id="modal81" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Report Details</h4>
        <p>Specify the below Parameters to generate the Report</p>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_gas_station</i>
                @Html.DropDownListFor(model => model.Station.Code, Model.StationCodes, new { @class = "modal-station" })
                <label>Select Station</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input id="" type="text" class="datepicker modal-start" value="@DateTime.Now.AddDays(-1).ToString("d MMMM, yyyy")" />
                <label>From</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input id="" type="text" class="datepicker modal-stop" value="@DateTime.Now.ToString("d MMMM, yyyy")" />
                <label>To</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>