@model Core.ViewModel.ReportsIndexViewModel;

@{
    ViewData["Title"] = "Reports";
}

<style>
    ul.report-icons li {
        margin-top: 20px;
    }
    ul.report-icons li:first-child {
        margin-top: 0px;
    }
    ul.report-icons li div {
        cursor: pointer;
        text-align: center;
    }
    ul.report-icons li p {
        font-weight: 500;
        line-height: 1em;
    }
    .modal h4 {
        border-bottom: 3px solid #ff5722;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .modal p {
        margin-bottom: 30px;
    }
    .modal .select-dropdown li img {
        height: 34px;
        width: 34px;
    }
    .input-field .material-icons.prefix{
        padding-top: 10px;
    }
    i.medium {
        font-size: 3.1rem;
    }
</style>

<script>
    var route = '';
</script>
<script src="~/js/reports-index-script.js"></script>

<h4>System Reports</h4>

<div class="row">
    <!--Column 1-->
    <div class="col-md-1 col-1">
        <ul class="report-icons">
            <li class="cyan-text">
                <div>
                    <i class="material-icons medium icon-demo">shopping_cart</i>
                    <p>Product Sales</p>
                </div>
            </li>

        </ul>
    </div>

    <!--Column 2-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="light-blue-text">
                <div class="waves-effect waves-light modal-trigger" data-target="modal21">
                    <i class="material-icons medium icon-demo">streetview</i>
                    <p>Yearly Balances</p>
                </div>
            </li>

            <li class="indigo-text">
                <div class="waves-effect waves-light modal-trigger" data-target="modal22">
                    <i class="material-icons medium icon-demo">supervisor_account</i>
                    <p>Customer Balances</p>
                </div>
            </li>

        </ul>
    </div>

    <!--Column 3-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger" data-target="modal31">
                    <i class="material-icons medium icon-demo">art_track</i>
                    <p>VAT Report</p>
                </div>
            </li>

            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/vat/">
                    <i class="material-icons medium icon-demo">burst_mode</i>
                    <p>Station Breakdown</p>
                </div>
            </li>

            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/stations/summary/">
                    <i class="material-icons medium icon-demo">assignment</i>
                    <p>Station Summary</p>
                </div>
            </li>

            <li class="deep-purple-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal32" data-trigger="/reports/etr/">
                    <i class="material-icons medium icon-demo">receipt</i>
                    <p>E.T.R Sheet</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 4-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="deep-orange-text">
                <div class="waves-effect waves-light modal-trigger redirect-trigger" data-route="/purchases/ledger">
                    <i class="material-icons medium icon-demo">burst_mode</i>
                    <p>Purchase Ledger</p>
                </div>
            </li>

            <li class="deep-orange-text">
                <div class="waves-effect waves-light redirect-trigger" data-route="/purchases/ledger/summary">
                    <i class="material-icons medium icon-demo">art_track</i>
                    <p>Purchase Summary</p>
                </div>
            </li>
        </ul>
    </div>

    <!--Column 5-->
    <div class="col-md-1">
        <ul class="report-icons">
            <li class="light-blue-text">
                <div class="waves-effect waves-light modal-trigger multiple-trigger" data-target="modal31" data-trigger="/reports/vat/downloads">
                    <i class="material-icons medium icon-demo">burst_mode</i>
                    <p>Download CSVs</p>
                </div>
            </li>
        </ul>
    </div>
</div>

    <!--Column 1 Modals-->
    <div id="modal11" class="modal modal-fixed-footer" style="width: 500px">
        <div class="modal-content">
            <h4>Sales Per Product</h4>
            <p>Specify the below Parameters to generate the Summary</p>
            <div>
                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>

                    <label>Start Date</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>
                    <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                    <label>End Date</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
            <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>


    <!--Column 2 Modals-->
    <div id="modal21" class="modal modal-fixed-footer" style="width:500px">
        <div class="modal-content">
            <h4>Customer Balances</h4>
            <p>Specify the below Parameters to generate the Summary</p>
            <div>
                <div class="input-field">
                    <i class="material-icons prefix">local_gas_station</i>
                    <select class="icons modal-station">
                        @foreach (var st in Model.Stations)
                        {
                            <option value="@st.Code.ToLower()" data-icon="~/../../images/logos/@(st.Brand.Name.ToLower()).png" class="circle">@st.Name</option>
                        }
                    </select>
                    <label>Select Station</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">event_note</i>
                    <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                    <label>Specify Year</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">local_gas_station</i>
                    <select class="modal-types">
                        <option value="all">All Transactions</option>
                        <option value="invoices">Sales / Invoices</option>
                        <option value="payments">Customer Payments</option>
                        <option value="creditnote">Credit Memo</option>
                    </select>
                    <label>Transaction Type</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
            <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>

    <div id="modal22" class="modal modal-fixed-footer" style="width: 500px">
        <div class="modal-content">
            <h4>Customer Balances</h4>
            <p>Specify the below Parameters to generate the Summary</p>
            <div>
                <div class="input-field">
                    <i class="material-icons prefix">local_gas_station</i>
                    <select class="icons modal-station">
                        @foreach (var st in Model.Stations)
                        {
                            <option value="@st.Code.ToLower()" data-icon="~/../../images/logos/@(st.Brand.Name.ToLower()).png" class="circle">@st.Name</option>
                        }
                    </select>
                    <label>Select Station</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">event_note</i>
                    <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                    <label>Specify Year</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
            <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>

    <!--Column 3 Modals-->
    <div id="modal31" class="modal modal-fixed-footer" style="width: 500px">
        <div class="modal-content">
            <h4>VAT Report</h4>
            <p>Specify the below Parameters to generate the Summary </p>
            <div>
                <div class="input-field">
                    <i class="material-icons prefix">class</i>
                    <select class="modal-months">
                        @for (int ix = 0; ix < 12; ix++)
                        {
                            @if (ix == (DateTime.Now.Month - 1))
                            {
                                <option selected value="@(ix)">@Model.StartDate.AddMonths(ix).ToString("MMMM")</option>
                            }
                            else
                            {
                                <option value="@(ix)">@Model.StartDate.AddMonths(ix).ToString("MMMM")</option>
                            }
                        }
                    </select>
                    <label>Select Station</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">event_note</i>
                    <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                    <label>Specify Year</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
            <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>

    <div id="modal32" class="modal modal-fixed-footer" style="width: 500px">
        <div class="modal-content">
            <h4>VAT Station Breakdown</h4>
            <p>Specify the below Parameters to generate the ETR Breakdown </p>
            <div>
                <div class="input-field">
                    <i class="material-icons prefix">local_gas_station</i>
                    <select class="icons modal-station">
                        @foreach (var st in Model.Stations)
                        {
                            <option value="@st.Code.ToLower()" data-icon="~/../../images/logos/@(st.Brand.Name.ToLower()).png" class="circle">@st.Name</option>
                        }
                    </select>
                    <label>Select Station</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">class</i>
                    <select class="modal-months">
                        @for (int ix = 0; ix < 12; ix++)
                        {
                            @if (ix == (DateTime.Now.Month - 1))
                            {
                                <option selected value="@(ix)">@Model.StartDate.AddMonths(ix).ToString("MMMM")</option>
                            }
                            else
                            {
                                <option value="@(ix)">@Model.StartDate.AddMonths(ix).ToString("MMMM")</option>
                            }
                        }
                    </select>
                    <label>Select Station</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">event_note</i>
                    <input class="modal-year validate" type="number" value="@DateTime.Now.Year" />
                    <label>Specify Year</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
            <a href="#!" class="modal-action modal-close modal-post waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>
