@model Core.ViewModel.ReportProductsLinkedViewModel;
@{
    ViewData["Title"] = "Linked Lubes";
    int count = 0;
}


<style>
    .row .col-md-1.get-linked {
        width: 5%;
        padding-top: 10px;
    }
    .row .input-field.col-md-10 {
        width: 95%;
    }
    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), i[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
        margin-bottom: 5px;
        margin-top: -10px;
    }
</style>
<script src="~/js/reports-stock-ledger-script.js"></script>

<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row zero-margin">
            <div class="col s10 m6 l6">
                <ol class="breadcrumbs">
                    <li><a href="/reports">Reports</a></li>
                    <li><a href="/reports/stocks">Stocks</a></li>
                    <li class="active">Linked Lubes</li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right gradient-45deg-light-blue-cyan gradient-shadow pointer" href="/reports/stocks/unlinked/">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">UNLINKED</span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div style="clear:both; margin-top:45px;"></div>

<div class="row" style="margin-top: 10px; margin-bottom: 0px;">
    <div class="input-field col-md-10">
        <i class="material-icons prefix">filter_list</i>
        <input id="filter" type="text" placeholder="Filter Products" />
    </div>

    <div class="col-md-1 get-linked">
        <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
    </div>
</div>

<div class="card zero-margin">
    <div class="card-content deep-orange accent-2 white-text table-card" style="border-radius: 0">
        <h5 class="card-stats-number"><i class="material-icons left">add_shopping_cart</i>Unlinked Lubes</h5>
        <p class="card-stats-compare right">
            <i class="material-icons left">history</i>
            <span class="deep-orange-text text-lighten-5 opening-balance">Products</span>
        </p>
    </div>

    <table id="ledger-table" class="custom bordered" data-loaded="0" style="margin-top:-20px">
        <thead class="deep-orange accent-2">
            <tr>
                <th>#</th>
                <th>DESC</th>
                <th>GITIMBINE</th>
                <th>KAAGA</th>
                <th>NKUBU</th>
                <th>KIRUNGA</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody style="font-size:0.8em">
            @foreach (var prd in Model.Products)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td><a class="blue-text" href="/products/kinoru/@(prd.Product.Id)">@prd.Product.Name</a></td>
                    <td>@prd.Gitimbine.Name</td>
                    <td>@prd.Kaaga.Name</td>
                    <td>@prd.Nkubu.Name</td>
                    <td>@prd.Kirunga.Name</td>
                    <td><a class="material-icons tiny-box grey-text right">border_color</a></td>
                </tr>
            }
        </tbody>

        <tfoot class="deep-orange accent-2 white-text">
            <tr>
                <th colspan="8">&nbsp;</th>
            </tr>
        </tfoot>
    </table>
</div>
