@model Core.ViewModel.PurchaseLedgerViewModel;
@{
    ViewData["Title"] = "Purchases Ledger";

    DateTime start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime stop = start.AddMonths(1).AddDays(-1);

    double cumm = 0;
    var ledger = new FuelPurchasesLedger();
}

<style>
    .row .col-md-1.get-ledger {
        width: 5%;
        padding-top: 10px;
    }
    .row .input-field.col-md-2 {
        width: 20%;
    }
    .row .input-field.col-md-5 {
        width: 35%;
    }
    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), i[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
        margin-bottom: 5px;
        margin-top: -10px;
    }
</style>
<script src="~/js/reports-stock-ledger-script.js"></script>

<div class="row" style="margin-top: 10px; margin-bottom: 0px;">
    <div class="input-field col-md-2">
        <i class="material-icons prefix">date_range</i>
        @Html.DropDownListFor(model => model.Code, Model.Stations, new { @class = "modal-station" })
    </div>

    <div class="input-field col-md-2">
        <i class="material-icons prefix">date_range</i>
        <input id="start" type="text" class="datepicker" value="@start.ToString("d MMMM, yyyy")">
    </div>

    <div class="input-field col-md-2">
        <i class="material-icons prefix">date_range</i>
        <input id="stops" type="text" class="datepicker" value="@stop.ToString("d MMMM, yyyy")">
    </div>

    <div class="input-field col-md-5">
        <i class="material-icons prefix">filter_list</i>
        <input id="filter" type="text" placeholder="Filter Ledger" />
    </div>

    <div class="col-md-1 get-ledger">
        <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
    </div>
</div>

<div class="card zero-margin">
    <div class="card-content deep-orange accent-2 white-text table-card" style="border-radius: 0">
        <h5 class="card-stats-number"><i class="material-icons left">add_shopping_cart</i>Stocks Ledger</h5>
        <p class="card-stats-compare right">
            <i class="material-icons left">history</i>
            <span class="deep-orange-text text-lighten-5 opening-balance">Lubes/Gas/Soda</span>
        </p>
    </div>

    <table id="ledger-table" class="custom bordered" data-loaded="0" style="margin-top:-20px">
        <thead class="deep-orange accent-2">
            <tr>
                <th>DATE</th>
                <th class="right-text">QNTY</th>
                <th class="right-text">PRICE</th>
                <th>CATG</th>
                <th>DESC</th>
                <th>INV/NO</th>
                <th>SUPPLIER</th>
                <th class="right-text">AMOUNTS</th>
                <th class="right-text">BALANCE</th>
                <th class="right-text">EXCL</th>
                <th class="right-text">VAT</th>
                <th class="right-text">ZERO</th>
            </tr>
        </thead>
        <tbody style="font-size:0.8em">
            @foreach (var ldg in Model.Ledger){
                cumm += ldg.Total;

                ledger.Excl += ldg.Excl;
                ledger.Vats += ldg.Vats;
                ledger.Zero += ldg.Zero;

                <tr>
                    <td>@ldg.Date</td>
                    <td class="right-text">@string.Format("{0:N}", ldg.Ltrs)</td>
                    <td class="right-text">@string.Format("{0:N}", ldg.Price)</td>
                    <td>@ldg.Category</td>
                    <td>@ldg.Description</td>
                    <td>@ldg.Invoice</td>
                    <td>@ldg.Supplier.Name</td>
                    <td class="right-text">@string.Format("{0:N}", ldg.Total)</td>
                    <td class="bold-text right-text">@string.Format("{0:N}", cumm)</td>
                    <td class="right-text">@string.Format("{0:N}", ldg.Excl)</td>
                    <td class="right-text">@string.Format("{0:N}", ldg.Vats)</td>
                    <td class="right-text">@string.Format("{0:N}", ldg.Zero)</td>
                </tr>
            }
        </tbody>

        <tfoot class="deep-orange accent-2 white-text">
            <tr>
                <th>&nbsp;</th>
                <th colspan="6">LEDGER SUMMARY</th>
                <th class="right-text">@string.Format("{0:N}", cumm)</th>
                <th class="right-text">@string.Format("{0:N}", cumm)</th>
                <th class="right-text">@string.Format("{0:N}", ledger.Excl)</th>
                <th class="right-text">@string.Format("{0:N}", ledger.Vats)</th>
                <th class="right-text">@string.Format("{0:N}", ledger.Zero)</th>
            </tr>
        </tfoot>
    </table>
</div>

