@model Core.ReportModel.VatStationBreakdownViewModel;

@{
    ViewData["Title"] = "V.A.T Breakdown " + Model.station.Name;
}

<script type="text/javascript">
    var container = jq('div.container.body-content');
    container.removeClass('container');
    container.removeClass('body-content');
</script>

<style>
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 1px;
    }
    td, th {
        text-align: center;
    }
    table.custom thead {
        font-size: 0.8em;
    }
    table.custom tbody {
        font-size: 0.7em;
    }
    table.custom thead tr th:first-child,
    table.custom tfoot tr th:first-child,
    table.custom tbody tr td:first-child {
        padding-left: 5px;
    }
    table.custom thead tr th:last-child, 
    table.custom tfoot tr td:last-child, 
    table.custom tbody tr td:last-child {
        padding-right: 5px;
    }
    table.custom tbody tr td {
        padding: 1px 3px;
    }
    div.col-md-1 {
        width:3%;
    }
    div.col-md-2 {
        width: 12%;
    }
    div.col-md-3 {
        width: 16%;
    }
    footer, hr {
        display:none;
    }
    th.br-wheat, td.br-wheat {
        border-right: 1px solid #d0d0d0;
    }
</style>

<table class="custom bordered" style="margin-top:10px;">
    <thead class="deep-orange accent-2">
        <tr>
            <th class="br-wheat">&nbsp;</th>
            <th colspan="4" class="br-wheat">TOTAL SALES</th>
            <th colspan="4" class="br-wheat">ACCOUNTS CREDIT</th>
            <th colspan="4" class="br-wheat">LESSES/TRANSPORT</th>
            <th colspan="4" class="br-wheat">DISCOUNTS</th>
            <th colspan="4" class="br-wheat">PUMP PRICES</th>
            <th colspan="4" class="br-wheat">ZERO RATED</th>
            <th colspan="4" class="br-wheat">TOTAL SALES VAT &amp; ZERO RATED</th>
            <th colspan="4" class="br-wheat">CREDIT SALES VAT &amp; ZERO RATED</th>
            <th colspan="4" class="br-wheat">CASH REMOVAL</th>
        </tr>
        <tr>
            <th class="br-wheat">DATE</th>

            <th>DX</th>
            <th>UX</th>
            <th>VP</th>
            <th class="br-wheat">IK</th>

            <th>DX</th>
            <th>UX</th>
            <th>VP</th>
            <th class="br-wheat">IK</th>

            <th>LESSES</th>
            <th>EXTRA</th>
            <th>TRANSP</th>
            <th class="br-wheat">CASH</th>

            <th>DX</th>
            <th>UX</th>
            <th>VP</th>
            <th class="br-wheat">IK</th>

            <th>DX</th>
            <th>UX</th>
            <th>VP</th>
            <th class="br-wheat">IK</th>

            <th>DX</th>
            <th>UX</th>
            <th>VP</th>
            <th class="br-wheat">IK</th>

            <th>VATABLE</th>
            <th>VAT</th>
            <th>ZERO</th>
            <th class="br-wheat">TOTAL</th>

            <th>VATABLE</th>
            <th>VAT</th>
            <th>ZERO</th>
            <th class="br-wheat">TOTAL</th>

            <th>VATABLE</th>
            <th>VAT</th>
            <th>ZERO</th>
            <th class="br-wheat">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rpt in Model.report) {
        <tr>
            <td class="br-wheat bold-text">@rpt.date.ToString("dd")</td>

            <td>@string.Format("{0:N}", rpt.dx_sales)</td>
            <td>@string.Format("{0:N}", rpt.ux_sales)</td>
            <td>@string.Format("{0:N}", rpt.vp_sales)</td>
            <td class="br-wheat">@string.Format("{0:N}", rpt.ik_sales)</td>

            <td>@string.Format("{0:N}", rpt.dx_credit)</td>
            <td>@string.Format("{0:N}", rpt.ux_credit)</td>
            <td>@string.Format("{0:N}", rpt.vp_credit)</td>
            <td class="br-wheat">@string.Format("{0:N}", rpt.ik_credit)</td>

            <td class="blue-text">@string.Format("{0:N}", rpt.dx_lesses)</td>
            <td class="blue-text">@string.Format("{0:N}", rpt.tt_discs)</td>
            <td class="blue-text">@string.Format("{0:N}", rpt.dx_transp)</td>
            <td class="blue-text br-wheat">@string.Format("{0:N}", rpt.dx_cashes)</td>

            <td>@string.Format("{0:N}", rpt.dx_discs)</td>
            <td>@string.Format("{0:N}", rpt.ux_discs)</td>
            <td>@string.Format("{0:N}", rpt.vp_discs)</td>
            <td class="br-wheat">@string.Format("{0:N}", rpt.ik_discs)</td>

            <td>@string.Format("{0:N}", rpt.dx_price)</td>
            <td>@string.Format("{0:N}", rpt.ux_price)</td>
            <td>@string.Format("{0:N}", rpt.vp_price)</td>
            <td class="br-wheat">@string.Format("{0:N}", rpt.ik_price)</td>

            <td class="red-text">@string.Format("{0:N}", rpt.dx_zero)</td>
            <td class="red-text">@string.Format("{0:N}", rpt.ux_zero)</td>
            <td class="red-text">@string.Format("{0:N}", rpt.vp_zero)</td>
            <td class="red-text br-wheat">@string.Format("{0:N}", rpt.ik_zero)</td>

            <td>@string.Format("{0:N}", rpt.vt_vatab)</td>
            <td>@string.Format("{0:N}", rpt.vt_vatsx)</td>
            <td>@string.Format("{0:N}", rpt.vt_zeros)</td>
            <td class="br-wheat">@string.Format("{0:N}", rpt.vt_total)</td>

            <td>@string.Format("{0:N}", rpt.cr_vatab)</td>
            <td>@string.Format("{0:N}", rpt.cr_vatsx)</td>
            <td>@string.Format("{0:N}", rpt.cr_zeros)</td>
            <td class="br-wheat">@string.Format("{0:N}", rpt.cr_total)</td>

            <td>@string.Format("{0:N}", rpt.ca_vatab)</td>
            <td>@string.Format("{0:N}", rpt.ca_vatsx)</td>
            <td>@string.Format("{0:N}", rpt.ca_zeros)</td>
            <td class="br-wheat">@string.Format("{0:N}", rpt.ca_total)</td>
        </tr>
        }
    </tbody>
</table>