@model Core.ViewModel.SuppliersViewModel;
@{
    ViewData["Title"] = Model.Supplier.Name;
}

<style>
    h4 {
        padding-left: 12px;
    }

    .card .card-title {
        font-size: 20px;
        font-weight: 300;
    }

    .card-title.activator.grey-text.text-darken-4.truncate {
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .activator.grey-text.text-darken-1 {
        font-size: 1.1em;
    }

    #profile-card .card-content p {
        color: #555;
        font-size: 1.1em;
        margin: 4px 0;
    }

    .card-content p span {
        vertical-align: super;
    }

    #profile-card .card-content {
        padding: 15px 20px 5px 20px;
    }

    .preview .body .col-md-1 {
        width: 5%;
    }

    .preview .body .col-md-3 {
        width: 29%;
    }

    .preview .body .col-md-5 {
        width: 37%;
    }

    nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
        border-bottom: 1px solid #9e9e9e;
    }

    table td {
        padding: 5px;
    }

    table td a {
        color: #333;
    }

    table td a:hover {
        color: #448AFF;
    }

    td i.material-icons {
        height: 0px;
        line-height: 0px;
    }

    #invoice-table th:nth-child(6),
    #invoice-table td:nth-child(6),
    #payment-table th:nth-child(5),
    #payment-table td:nth-child(5) {
        text-align: right;
    }

    div.modal-content label {
        padding-left: 15px;
    }

    div.modal-content td {
        padding: 2px;
    }

    div.modal-content td input {
        padding: 0;
        margin: 0 !important;
        height: 2rem;
    }
</style>

<script type="text/javascript">
    var xSupp = @Model.Supplier.Id;
    var xUuid = '@Model.Supplier.Uuid';
</script>
<script src="~/js/suppliers-main-script.js"></script>

<div class="row">
    <div class="col l3 m4 s12" style="padding-right:5px;">
        <div id="profile-card" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/images/gallary/11.png" alt="user bg">
            </div>

            <div class="card-content">
                <img src="~/images/@(Model.Supplier.Icon == "" ? "avatar/avatar-10.png" : "logos/" + Model.Supplier.Icon)" alt="" class="circle responsive-img activator card-profile-image grey lighten-3 padding-2">
                <a class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-5 right">
                    <i class="material-icons">edit</i>
                </a>
                <div class="card-title activator grey-text text-darken-4 truncate">@Model.Supplier.Name</div>
                <hr style="margin: 10px 0;" />
                <p class="truncate">
                    <i class="material-icons">assignment_ind</i>
                    <span>@Model.Supplier.Address @Model.Supplier.City</span>
                </p>

                <p>
                    <i class="material-icons">perm_phone_msg</i>
                    <span>@Model.Supplier.Telephone</span>
                </p>

                <p>
                    <i class="material-icons">turned_in</i>
                    <span>Ksh @string.Format("{0:N}", Model.Supplier.Balance)</span>
                </p>
            </div>
        </div>

        <ul id="profile-page-about-details" class="collection z-depth-1" style="margin-top:-10px;">
            <li class="collection-item">
                <div>
                    <i class="material-icons left blue-text">shopping_cart</i><a class="blue-text make-invoice pointer" data-target="station-expense-modal">Make Expense</a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    <i class="material-icons left blue-text">format_indent_increase</i><a class="blue-text credit-note pointer">Credit Note</a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    <i class="material-icons left blue-text">payment</i><a class="blue-text make-payment pointer">Post Payment</a>
                </div>
            </li>
        </ul>

        <ul id="profile-page-about-details" class="collection z-depth-1" style="margin-top:-10px;">
            <li class="collection-item">
                <i class="material-icons left black-text">chrome_reader_mode</i><a class="black-text pointer view-statement" data-target="station-expense-modal">View Statement</a>
            </li>
            <li class="collection-item">
                <i class="material-icons left black-text">attachment</i><a class="black-text pointer payment-ledger">Payment Ledger</a>
            </li>
            <li class="collection-item">
                <i class="material-icons left black-text">restore</i><a class="black-text pointer payment-schedule">Payment Schedule</a>
            </li>
        </ul>
    </div>

    <!-- Main Column -->
    <div class="col-md-8" style="padding: 0; margin-top: 7px; margin-bottom: 0px;">
        <nav class="navbar nav-extended">
            <div class="nav-content preview" style="border: 1px solid rgba(0,0,0,0.1); margin-top: -5px;">
                <ul class="tabs">
                    <li class="tab summ"><a href="#summary" class="active">Summary</a></li>
                    <li class="tab invs"><a href="#invoice">Invoices</a></li>
                    <li class="tab pos"><a href="#pos">P.O.S</a></li>
                    <li class="tab note"><a href="#credit">Credit Note</a></li>
                    <li class="tab pymt"><a href="#payment">Payments</a></li>
                </ul>

                <!-- SUMMARY TAB -->
                <div id="summary" class="body">
                    Loading....
                </div>

                <!-- INVOICE TAB -->
                <div id="invoice" class="body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="invoiceStartDate" type="text" class="datepicker" value="@Model.Start.ToString("d MMMM, yyyy")" />
                        </div>

                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="invoiceStopsDate" type="text" class="datepicker" value="@DateTime.Now.ToString("d MMMM, yyyy")" />
                        </div>

                        <div class="input-field col-md-5">
                            <i class="material-icons prefix">filter_list</i>
                            <input id="invoiceFilter" type="text" placeholder="Filter Invoices" />
                        </div>

                        <div class="col-md-1 get-invoices">
                            <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                        </div>
                    </div>

                    <table id="invoice-table" class="bordered" data-loaded="0" style="margin-top:-20px">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>INVOICE</th>
                                <th>CATEGORY</th>
                                <th>DESCRIPTION</th>
                                <th>STATION</th>
                                <th style="padding-right:15px;">AMOUNT</th>
                                <th style="width:40px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>

                <!-- POS TAB -->
                <div id="pos" class="body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="iposStartDate" type="text" class="datepicker" value="@Model.Start.ToString("d MMMM, yyyy")" />
                        </div>

                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="iposStopsDate" type="text" class="datepicker" value="@DateTime.Now.ToString("d MMMM, yyyy")" />
                        </div>

                        <div class="input-field col-md-5">
                            <i class="material-icons prefix">filter_list</i>
                            <input id="iposFilter" type="text" placeholder="Filter P.O.S" />
                        </div>

                        <div class="col-md-1 get-pos">
                            <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                        </div>
                    </div>

                    <table id="pos-table" class="bordered" data-loaded="0" style="margin-top:-20px">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>LTRS</th>
                                <th>DESCRIPTION</th>
                                <th>LPO</th>
                                <th>STATION</th>
                                <th>PRICE</th>
                                <th style="padding-right:15px;">AMOUNT</th>
                                <th style="width:40px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>

                <!-- CREDIT NOTE TAB -->
                <div id="credit" class="body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="creditsStartDate" type="text" class="datepicker" value="@Model.Start.ToString("d MMMM, yyyy")" />
                        </div>

                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="creditsStopsDate" type="text" class="datepicker" value="@DateTime.Now.ToString("d MMMM, yyyy")" />
                        </div>

                        <div class="input-field col-md-5">
                            <i class="material-icons prefix">filter_list</i>
                            <input id="creditsFilter" type="text" placeholder="Filter Credit Notes" />
                        </div>

                        <div class="col-md-1 get-credits">
                            <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                        </div>
                    </div>

                    <table id="credits-table" class="bordered" data-loaded="0" style="margin-top:-20px">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>TYPE</th>
                                <th>RECEIPT</th>
                                <th>STATION</th>
                                <th>DESCRIPTION</th>
                                <th class="right-text" style="padding-right:15px;">AMOUNT</th>
                                <th style="width:40px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>

                <!-- PAYMENTS TAB -->
                <div id="payment" class="body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="paymentStartDate" type="text" class="datepicker" value="@Model.Start.ToString("d MMMM, yyyy")">
                        </div>

                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="paymentStopsDate" type="text" class="datepicker" value="@DateTime.Now.ToString("d MMMM, yyyy")">
                        </div>

                        <div class="input-field col-md-5">
                            <i class="material-icons prefix">filter_list</i>
                            <input id="paymentFilter" type="text" placeholder="Filter Payments" />
                        </div>

                        <div class="col-md-1 get-payments">
                            <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                        </div>
                    </div>

                    <table id="payment-table" class="bordered" data-loaded="0" style="margin-top:-20px">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>CHEQUE</th>
                                <th>INVOICES</th>
                                <th>DESCRIPTION</th>
                                <th class="right-text" style="padding-right:15px;">AMOUNT</th>
                                <th style="width:40px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </nav>
    </div>

    <!-- Finally -->
    <div class="clear both"></div>

</div>



<!-- Payment Modal -->
<div id="payment-modal" class="modal modal-fixed-footer" style="width: 1000px">
    <div class="modal-content">
        @using (Html.BeginForm("PostSupplierPayments", "Suppliers", FormMethod.Post, new { id = "payment-form" }))
        {
            <h4>MAKE PAYMENT</h4>
            <hr style="margin: 5px 0" />
            <div class="row">
                <div class="input-field col-md-3">
                    <i class="material-icons prefix">event</i>
                    @Html.TextBoxFor(model => model.Date, new { @class = "datepicker" })
                    <label>Select Date</label>
                </div>

                <div class="input-field col-md-5 input-station">
                    <i class="material-icons prefix">format_quote</i>
                    @Html.TextBoxFor(model => model.Rcpt)
                    <label>Summary</label>
                </div>
            </div>
            <table id="payment-modal-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>RCPT</th>
                        <th>CHEQUE</th>
                        <th>ACCOUNT</th>
                        <th>INVOICES</th>
                        <th class="right-align">TOTAL</th>
                        <th>DESCRIPTION</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Payments.Count; i++)
                    {
                        <tr class="itms @(i == 0 ? "":"hide")">
                            <td style="width:1px;">@(i + 1).</td>
                            <td class="width-90px">@Html.TextBoxFor(model => model.Payments[i].Receipt, new { @type = "number" })</td>
                            <td class="width-100px">@Html.TextBoxFor(model => model.Payments[i].Cheque, new { @type = "number" })</td>
                            <td class="width-150px">@Html.DropDownListFor(model => model.Payments[i].Bank.Id, Model.BankAccounts, "Cash Payment")</td>
                            <td class="width-200px">@Html.TextBoxFor(model => model.Payments[i].Invoices)</td>
                            <td class="width-100px">@Html.TextBoxFor(model => model.Payments[i].Amount, new { @type = "number", @class = "pymt-a right-align" })</td>
                            <td>@Html.TextBoxFor(model => model.Payments[i].Description)</td>
                            <td>
                                <a class="red-text remove-pymt-row" style="font-size:0.7em">
                                    <i class="material-icons pointer" style="padding-top:20px">delete_forever</i>
                                </a>

                                @Html.HiddenFor(model => model.Payments[i].Id, new { @class = "idnt-data" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @Html.HiddenFor(model => model.Supplier.Id)
            @Html.HiddenFor(model => model.Supplier.Uuid)
        }

        <hr style="margin: 10px 0" />

        <a class="add-pymt-rows btn-floating waves-effect waves-light gradient-45deg-light-blue-cyan">
            <i class="material-icons">exposure_plus_1</i>
        </a>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Disagree</a>
        <a class="modal-action modal-post waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<div id="delete-payment-modal" class="modal" style="width:700px;">
    <div class="modal-content">
        <h4>DELETE PAYMENT</h4>
        <hr style="margin: 5px 0" />
        <p id="delete-modal-field"></p>
        <input type="hidden" />
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">CANCEL</a>
        <a class="modal-action modal-post waves-effect waves-green btn-flat">DELETE</a>
    </div>
</div>

<!-- Expense Modal -->
<div id="invoice-modal" class="modal modal-fixed-footer" style="width: 1000px">
    <div class="modal-content">
        <h4>SUPPLIER INVOICE</h4>
        @using (Html.BeginForm("PostSupplierInvoice", "Suppliers", FormMethod.Post, new { id = "invoice-form" }))
        {
            <hr style="margin: 5px 0" />
            <div class="row">
                <div class="input-field col-md-3">
                    <i class="material-icons prefix">event</i>
                    @Html.TextBoxFor(model => model.Date, new { @class = "datepicker" })
                    <label>Select Date</label>
                </div>

                <div class="input-field col-md-5 input-station">
                    <i class="material-icons prefix">format_quote</i>
                    @Html.TextBoxFor(model => model.Rcpt)
                    <label>Summary</label>
                </div>
            </div>

            <table id="invoice-modal-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>INVOICE</th>
                        <th>CATEGORY</th>
                        <th>STATION</th>
                        <th>DESCRIPTION</th>
                        <th class="right-align">AMOUNT</th>
                        <th class="right-align">V.A.T</th>
                        <th class="right-align">ZERORATE</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Invoices.Count; i++)
                    {
                        <tr class="invs @(i == 0 ? "":"hide")">
                            <td style="width:1px;">@(i + 1).</td>
                            <td class="width-90px">@Html.TextBoxFor(model => model.Invoices[i].Invoice)</td>
                            <td>@Html.DropDownListFor(model => model.Invoices[i].Category.Id, Model.Category)</td>
                            <td class="width-150px">@Html.DropDownListFor(model => model.Invoices[i].Station.Id, Model.Stations)</td>
                            <td class="width-150px">@Html.TextBoxFor(model => model.Invoices[i].Description)</td>
                            <td class="width-100px">@Html.TextBoxFor(model => model.Invoices[i].Amount, new { @class = "right-align" })</td>
                            <td class="width-100px">@Html.TextBoxFor(model => model.Invoices[i].VatAmount, new { @class = "right-align" })</td>
                            <td class="width-100px">@Html.TextBoxFor(model => model.Invoices[i].Zerorated, new { @class = "right-align" })</td>
                            <td>
                                <a class="red-text remove-invs-row" style="font-size:0.7em">
                                    <i class="material-icons pointer" style="padding-top:20px">delete_forever</i>
                                </a>

                                @Html.HiddenFor(model => model.Invoices[i].Id, new { @class = "idnt-data" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @Html.HiddenFor(model => model.Supplier.Id)
            @Html.HiddenFor(model => model.Supplier.Uuid)
        }

        <hr style="margin: 10px 0" />

        <a class="btn-floating add-invs-rows waves-effect waves-light gradient-45deg-light-blue-cyan">
            <i class="material-icons ">exposure_plus_1</i>
        </a>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Disagree</a>
        <a class="modal-action modal-post waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<div id="delete-invoice-modal" class="modal" style="width:700px;">
    <div class="modal-content">
        <h4>DELETE INVOICE</h4>
        <hr style="margin: 5px 0" />
        <p class="delete-modal-field"></p>
        <input type="hidden" />
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">CANCEL</a>
        <a class="modal-action modal-post waves-effect waves-green btn-flat">DELETE</a>
    </div>
</div>

<!-- CreditNote Modal -->
<div id="credits-modal" class="modal modal-fixed-footer" style="width: 800px">
    <div class="modal-content">
        @using (Html.BeginForm("PostSupplierCredits", "Suppliers", FormMethod.Post, new { id = "credits-form" }))
        {
            <h4>POST CREDITS</h4>
            <hr style="margin: 5px 0" />
            <div class="row">
                <div class="input-field col-md-3">
                    <i class="material-icons prefix">event</i>
                    @Html.TextBoxFor(model => model.Date, new { @class = "datepicker" })
                    <label>Select Date</label>
                </div>

                <div class="input-field col-md-5 input-station">
                    <i class="material-icons prefix">format_quote</i>
                    @Html.TextBoxFor(model => model.Rcpt)
                    <label>Summary</label>
                </div>
            </div>
            <table id="credits-modal-table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>RCPT</th>
                        <th>TYPE</th>
                        <th class="right-align">AMOUNT</th>
                        <th>DESCRIPTION</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Credits.Count; i++)
                    {
                        <tr class="notes @(i == 0 ? "":"hide")">
                            <td style="width:1px;">@(i + 1).</td>
                            <td class="width-90px">@Html.TextBoxFor(model => model.Credits[i].Receipt, new { @type = "number" })</td>
                            <td class="width-150px">@Html.DropDownListFor(model => model.Credits[i].Type.Id, Model.CreditsTypes)</td>
                            <td class="width-100px">@Html.TextBoxFor(model => model.Credits[i].Amount, new { @type = "number", @class = "credit-amts right-align" })</td>
                            <td>@Html.TextBoxFor(model => model.Credits[i].Description)</td>
                            <td>
                                <a class="red-text remove-credit-row" style="font-size:0.7em">
                                    <i class="material-icons pointer" style="padding-top:20px">delete_forever</i>
                                </a>

                                @Html.HiddenFor(model => model.Credits[i].Id, new { @class = "idnt-data" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @Html.HiddenFor(model => model.Supplier.Id)
            @Html.HiddenFor(model => model.Supplier.Uuid)
        }

        <hr style="margin: 10px 0" />

        <a class="add-credit-rows btn-floating waves-effect waves-light gradient-45deg-light-blue-cyan">
            <i class="material-icons">exposure_plus_1</i>
        </a>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Disagree</a>
        <a class="modal-action modal-post waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<div id="delete-credits-modal" class="modal" style="width:700px;">
    <div class="modal-content">
        <h4>DELETE CREDITS</h4>
        <hr style="margin: 5px 0" />
        <p class="delete-modal-field"></p>
        <input type="hidden" />
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">CANCEL</a>
        <a class="modal-action modal-post waves-effect waves-green btn-flat">DELETE</a>
    </div>
</div>