@model Core.ViewModel.StationsMainViewModel;
@{
    ViewData["Title"] = "Stations Summary";
}

<style>
    .picker__frame {
        top: 200px !important;
    }

    .picker--opened .picker__holder {
        background: none;
    }

    table tbody tr th a {
        color: #448AFF;
    }

        table tbody tr th a:hover {
            color: rgba(58, 138, 255, 0.7);
            text-decoration: none;
        }

    #summaryTbl thead tr th,
    #summaryTbl tfoot tr td,
    #summaryTbl tbody tr td {
        text-align: right;
    }

    #summaryTbl thead tr th {
        padding: 10px;
    }
    #filter-summary .col-md-1,
    #filter-ledger .col-md-1 {
        width: 5%;
    }

    #filter-summary .col-md-3,
    #filter-ledger .col-md-3 {
        width: 20%;
    }

    #filter-summary .col-md-5,
    #filter-ledger .col-md-5 {
        width: 55%;
    }
    a.material-icons.tiny-box {
        display: block;
        font-size: 14px;
        height: 6px;
        line-height: 1;
        cursor: pointer;
    }
    a.material-icons:hover {
        color: #2196F3 !important;
    }
</style>

<script src="~/js/vendor.sparkline.min.js"></script>
<script src="~/js/stations-main-script.js"></script>

<nav class="navbar nav-extended">
    <div class="nav-content" style="border: 1px solid rgba(0,0,0,0.1)">
        <ul class="tabs">
            <li class="tab"><a href="#summary" class="active">Summary</a>/li>
            <li class="tab"><a href="#ledger">Ledger</a></li>
            <li class="tab pymt"><a href="#payments">Payments</a></li>
            <li class="tab"><a href="#purchases">Purchases</a></li>
            <li class="tab"><a href="#expenses">Expenses</a></li>
            <li class="tab"><a href="#reconcilliation">Reconcilliation</a></li>
        </ul>

        <div id="summary" class="body">
            <div class="col-md-12 zero-margin">
                <div class="card zero-margin " style="min-height:520px;">
                    <div id="filter-summary" class="black-text">
                        <div id="summarySel" class="input-field col-md-5">
                            <i class="material-icons prefix">local_gas_station</i>
                            <select multiple id="summaryList">
                                <option value="" disabled selected>Select Stations</option>
                                @foreach (var st in Model.Stations) {
                                    <option value="@st.Id">@st.Name</option>
                                }
                            </select>
                        </div>

                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="startDate" type="text" class="datepicker" value="@DateTime.Now.AddDays(-1).ToString("d MMMM, yyyy")">
                        </div>

                        <div class="input-field col-md-3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="stopDate" type="text" class="datepicker" value="@DateTime.Now.AddDays(-1).ToString("d MMMM, yyyy")">
                        </div>

                        <div class="col-md-1 get-summary">
                            <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                        </div>
                    </div>

                    <table id="summaryTbl" class="custom bordered">
                        <thead class="deep-orange white-text">
                            <tr>
                                <th>&nbsp;</th>
                                <th>SALES</th>
                                <th>CASH</th>
                                <th>INVOICE</th>
                                <th>VISA</th>
                                <th>MPESA</th>
                                <th>P.O.S</th>
                                <th>EXPENSES</th>
                                <th>DISC</th>
                                <th>TOTAL</th>
                                <th>DIFFS</th>
                            </tr>
                        </thead>

                        <tbody></tbody>

                        <tfoot class="deep-orange white-text">
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!-- Second Tab -->
        <div id="ledger" class="body">
            <div id="filter-summary" class="black-text">
                <div id="ledgerSel" class="input-field col-md-4">
                    <i class="material-icons prefix">local_gas_station</i>
                    <select multiple id="ledgerList">
                        <option value="" disabled selected>Select Stations</option>
                        @foreach (var st in Model.Stations) {
                            <option value="@st.Id">@st.Name</option>
                        }
                    </select>
                </div>

                <div class="input-field col-md-3">
                    <i class="material-icons prefix">date_range</i>
                    <input id="ledgerStartDate" type="text" class="datepicker" value="@DateTime.Now.AddDays(-1).ToString(" d MMMM, yyyy")">
                </div>

                <div class="input-field col-md-3">
                    <i class="material-icons prefix">date_range</i>
                    <input id="ledgerStopDate" type="text" class="datepicker" value="@DateTime.Now.AddDays(-1).ToString(" d MMMM, yyyy")">
                </div>

                <div class="right get-ledger">
                    <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                </div>
            </div>
        </div>

        <div id="payments" class="body">
            <div id="filter-summary" class="black-text">
                <div id="paymentSel" class="input-field col-md-5">
                    <i class="material-icons prefix">local_gas_station</i>
                    <select multiple id="paymentList">
                        <option value="" disabled selected>Select Stations</option>
                        @foreach (var st in Model.Stations) {
                            <option value="@st.Id">@st.Name</option>
                        }
                    </select>
                </div>

                <div class="input-field col-md-3">
                    <i class="material-icons prefix">date_range</i>
                    <input id="paymentStartDate" type="text" class="datepicker" value="@DateTime.Now.AddDays(-1).ToString("d MMMM, yyyy")">
                </div>

                <div class="input-field col-md-3">
                    <i class="material-icons prefix">date_range</i>
                    <input id="paymentStopDate" type="text" class="datepicker" value="@DateTime.Now.ToString("d MMMM, yyyy")">
                </div>

                <div class="col-md-1 get-payments">
                    <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                </div>
            </div>
            <div style="clear:both"></div>
            <table id="paymentTbl" class="custom bordered" data-loaded="0">
                <thead class="deep-orange white-text">
                    <tr>
                        <th style="width:10px">#</th>
                        <th>DATE</th>
                        <th>CUSTOMER</th>
                        <th>STATION</th>
                        <th>RECEIPT</th>
                        <th>CHEQUE</th>
                        <th style="text-align:right;padding-right:15px;">AMOUNT</th>
                        <th>NOTES</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>

        </div>
        <div id="purchases" class="body">No Records</div>
        <div id="expenses" class="body">Not Yet Updated</div>
    </div>
</nav>